<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
layout:decorator="layout">
<head>
<title>threeloop | bas</title>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript">
$(function() {
	$('.message a').click(function() {
		$('form').animate({
			height : "toggle",
			opacity : "toggle"
		}, "slow");
	});
});

</script>
</head>
<body>
    <div layout:fragment="content">
    <div class="login-page">
  <div class="form">
    <form class="register-form" th:action="@{/user/register}" th:object="${user}" action="/user/register" method="post">
       
       <!-- make this redirect to register form -->
         <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
            </div>
     
      <input type="text" name="username" required="required" placeholder="Nazwa użytkownika"/>
      <input type="text" name="email" required="required" placeholder="Email"/>
      <input type="password" name="password" required="required" placeholder="Hasło"/>
      <button>Zarejestruj się</button>
      <p class="message">Masz już konto? <a href="#">Zaloguj się!</a></p>
    </form>
    <form class="login-form" th:action="@{/login}" th:object="${user}" action="/login" method="post">
      
       <div class="alert alert-danger" th:if="${param.error}">
                Adres Email lub hasło są niepoprawne, prosimy spróbować ponownie.
            </div>
      
      <input type="text" name="username" placeholder="Nazwa użytkownika lub email"/>
      <input type="password" name="password" placeholder="Hasło"/>
      <button>Zaloguj się</button>
      <p class="message">Nie masz konta? <a href="#">Utwórz je!</a></p>
    </form>
  </div>
</div>
      <!--    
            <form class="form-signin" th:action="@{/login}" th:object="${user}" action="/login" method="post">
            <h2 class="form-signin-heading">Zaloguj się:</h2>
            
            <div class="alert alert-danger" th:if="${param.error}">
                Adres Email lub hasło są niepoprawne, prosimy spróbować ponownie.
            </div>
            <input type="text" id="inputEmail" name="username" class="form-control top" placeholder="Nazwa użytkownika lub Email" required="required" autofocus="autofocus"/>
            <input type="password" id="inputPassword" name="password" class="form-control bottom" placeholder="Hasło" required="required"/>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember-me"/> Zapamiętaj mnie
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
        </form> 
-->
    </div>
</body>
</html>