<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>Zarejestruj się</title>
</head>
<body>
    <div layout:fragment="content">
        <form class="form-signin" th:action="@{/user/register}" th:object="${user}" action="/user/register" method="post">
            <h2 class="form-signin-heading">Zarejestruj nowego użytkownika:</h2>
            
            <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
            </div>
            
            <input type="text" id="inputEmail" name="email" class="form-control top" placeholder="Adres Email" required="required" autofocus="autofocus"/>
            <input type="text" id="inputUser" name="username" class="form-control middle" placeholder="Nazwa użytkownika" required="required"/>
            <input type="password" id="inputPassword" name="password" class="form-control bottom" placeholder="Hasło" required="required"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj</button>
        </form>
    </div>
</body>
</html>