<html>
<head>
	<meta charset="utf-8">
	<title>Book-a-spot beta</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script type="text/javascript" src="http://davidlynch.org/projects/maphilight/jquery.maphilight.js"></script>
	<script type="text/javascript">
	$(function() {
		$('.map').maphilight({fade: false});
	});</script>
</head>
<body>
<img class="map" src="roma-lvl2.jpg" border="0" width="1114" height="1000" orgWidth="1114" orgHeight="1000" usemap="#garage" alt="" />
<map name="garage" id="ImageMapsCom-image-maps-2017-04-01-132235">
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="158,203,225,236" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="159,234,226,267" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="286,204,350,235" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="286,235,350,266" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="162,292,226,323" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="288,279,352,324" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="161,335,225,367" style="outline:none;" target="_self"     />
<area id="160" alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="161,366,225,398" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="285,340,349,372" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="160,410,224,444" style="outline:none;" target="_self"     />
<area id="169" alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="286,411,350,445" style="outline:none;" target="_self"     />
<area id="158" alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="161,443,225,475" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="285,443,349,475" style="outline:none;" target="_self"     />
<area id="157" alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="161,491,225,523" style="outline:none;" target="_self"     />
<area id="167" alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="286,492,350,523" style="outline:none;" target="_self"     />
<area id="156" alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="160,524,224,555" style="outline:none;" target="_self"     />
<area  alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="286,523,350,555" style="outline:none;" target="_self"     />
<area id="155" alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="162,565,226,597" style="outline:none;" target="_self"     />
<area id="165" alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="287,567,351,599" style="outline:none;" target="_self"     />
<area id="154" alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="124,600,169,662" style="outline:none;" target="_self"     />
<area id="153" alt="" title="" href="http://www.image-maps.com/" shape="rect" coords="181,599,215,661" style="outline:none;" target="_self"     />
<area shape="rect" coords="1112,998,1114,1000" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_84148" />
</map>
</body>
</head>
